@inject IHttpContextAccessor _contxt;
@model FFMP.Data.Inspection
@using FFMP.Data

@{
    ViewData["Title"] = "Start";
}

<h1>Welcome to inspections part of the program, please select what you want to do</h1>
<br />
  


<table class="table">
    <thead>
        <tr>
            <th>
                List of Inspections
            </th>
           
            <th>
                Create a new inspection
            </th>
          
        </tr>
    </thead>
    <tbody>
       
            <tr>
                <td>
                    <a asp-action="Index">Show</a> |
                </td>

                <td>
                
                    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="@("#createInspection-"+Model.UserLogin)" data-bs-url="@Url.Action($"Create/{Model.UserLogin}")">Create</button>
                    @await Html.PartialAsync("_CreatePartialView", new Inspection())
                    
                    @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |<br />*@
                    @*<a asp-action="ObjectsInspections" asp-route-id=@item.ObjectId>Show only inspections of this object</a>*@
                </td>
            </tr>
        
    </tbody>
</table>
