@{
    ViewData["Title"] = "Admin View";
}

<div class="text-center">
    <h1 class="display-4">Welcome, my man - today You did good job!</h1>
    <h1 class="display-4">(FOR ADMINS ONLY!)</h1>
</div>
